<footer class="site-footer">
    <div class="wrapper">
        <div class="footer-col-wrapper">
            <div class="footer-col footer-col-1">
                <ul class="contact-list">
                    <li class="p-name">{{ site.title | escape }}</li>
                </ul>
            </div>

            <div class="footer-col footer-col-2">
                RSS feed available 
                {%- if site.rss_feed -%}
                <a href="{{ site.rss_feed }}">here</a>
                {%- else -%}
                <a href="/feed.xml">here</a>
                {%- endif -%}
            </div>
        </div>

        <div class="social-links">
            Follow me at
            {%- if site.twitter_username -%}
            <a href="https://x.com/{{ site.twitter_username }}" target="_blank" rel="noopener">X</a>
            {%- endif -%}
            {%- if site.linkedin_username -%}
            <a href="https://linkedin.com/in/{{ site.linkedin_username }}" target="_blank" rel="noopener">LinkedIn</a>
            {%- endif -%}
        </div>
    </div>
</footer>